<td>
  <a href="#"></a>
  <div>
    <i class="glyphicon glyphicon-record"></i>
  </div>
</td>
<td>
  <a href="#" ng-click="showAssignModal()">{{alert.title}}</a>
</td>
<td>
  <a href="#" class="" role="button" ng-hide="alertHandled"><span class="glyphicon glyphicon-pencil">&nbsp;</span> Add note</a>
  <a href="#" class="" role="button" ng-show="alertHandled"><span class="glyphicon glyphicon-eye">&nbsp;</span> View note </a>
</td>
<td>
  {{alert.employee}}
</td>
<td>
  <a href="#">{{alert.created_at | formatDate}}</a>
</td>