<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Note</h4>
</div>
<form novalidate>
  <div class="modal-body">
      <div>Alarm: {{alarm.title}}</div>
      <div>Patient: {{alarm.patient}}</div>
      <div ng-hide="isEdit">Note Title: {{note.title}}</div>
      <div ng-hide="isEdit">Note Content: {{note.body}}</div>
      <input type="text" class="form-control" name="title" placeholder="Note title" ng-model="note.title" ng-show="isEdit">
      <textarea class="form-control" ng-model="note.body" name="title" placeholder="Note body" ng-show="isEdit"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save()" ng-show="isEdit">Save</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()" ng-show="isEdit">Cancel</button>
    <!-- <button type="button" class="btn btn-primary">Save for all</button> -->
  </div>
</form>


